@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;500;800;900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', 'Overlock';
    width: 100%;
}

:root{
    --primary: #0B4D24;
    --secondary: #628C72;
}

body{
    display: flex; /*Con esto hago que el footer vaya abajo*/
    flex-direction: column; /*Con esto hago que el footer vaya abajo*/
    min-height: 100vh; /*Con esto hago que el footer vaya abajo*/
}

/*OTROS COLORES

#BF2F2F > orange golden
#FACE54 > maize
#828C84 > grey
#D3FCD5 > tea green
#FCFCFC > white
#85938A > verde agrisado
#E4EFE8 > mint cream
*/

/*HEADER*/
header{
    background-color:#0B4D24;
    height: 80px;
    margin: auto;
    position: fixed;
    
}
.contenedor-header{
    display: flex;
    flex-direction: row;
}
.contenedor-logo {
    width: 250px;
    height: 80px;
    display: flex;
    flex-direction: row;

}
.contenedor-logo img{
    width: 80px;
    margin: 5px 0 5px 10px;
}

.contenedor-menu nav{
    margin-top: 15px;
}
.contenedor-menu ul li{
    list-style: none;
    width: 165px;

}
.contenedor-menu ul li a{
    text-decoration: none;
    background-color: #0B4D24;
    color: #E4EFE8; 
    padding:  15px;
    display: block;
    text-align: end;
    font-size: 14px;
}

.contenedor-menu ul li a:hover{
    background-color: #628C72;
}

.contenedor-menu ul li a span{
    text-align: center;

}
.contenedor-menu nav ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.contenedor-menu nav ul li .menu-productos {
    display: flex;
    flex-direction: column;
}

.contenedor-menu nav ul li .menu-productos li a{
    display: flex;
    justify-content: end;
}

.contenedor-menu .nav ul li ul{
    display: none;
}

.contenedor-menu .nav ul li:hover ul{
    display: block;
}



/*MAIN*/
main{
    margin-top: 70px;
}


/*FOOTER*/
footer{
    background-color: #0B4D24 ;
    margin-top: auto; /*Con esto hago que el footer vaya abajo*/
   
}
/* INFO DEL NEGOCIO */
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TextoEmpresa{
    display: flex;
    flex-direction: column;
}
.TextoEmpresa span{
    color: #E4EFE8;
    padding: 10px 0 0 10px;
}

/* REDES SOCIALES */
.redes{
    width: 150px;
}

.redes ul{
    display: flex;
    justify-content: flex-end;
}

.redes ul li{
   list-style: none;
   padding-top: 20px;
}

.redes ul li a{
   text-decoration: none;
   color: #E4EFE8;
   font-size: 25px;
}

/* LINEA DIVISORIA */
.linea{
        border-top: 1px solid #E4EFE8;
        height: 2px;
        max-width: auto;
        padding: 0;
}

/* COPYRIGHT */
.copy{
    color: #E4EFE8;
    text-align: center;
}