@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;500;800;900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', 'Overlock';
}

:root{
    --primary: #0B4D24;
    --secondary: #628C72;
}

body{
    background-color: antiquewhite;
}

img{
    width: 100%;
    height: 100%;
}
/*OTROS COLORES

#BF2F2F > orange golden
#FACE54 > maize
#828C84 > grey
#D3FCD5 > tea green
#FCFCFC > white
#85938A > verde agrisado
#E4EFE8 > mint cream
*/


/*HEADER*/

header{
    height: 15vh;
    background-color:#0B4D24;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.contenedor-logo img{
    width: 9.4rem;
    height: 95%;
    object-fit: scale-down;
}


/* menu responsive */
.main-nav{
    display: flex;
}
.toggle-menu{
    width: 50%;
    height: 15vh;
    position: absolute;
    top: 0;
    right: 1.5rem;
    cursor: pointer;
    filter: invert(1); /*PARA CAMBIAR EL COLOR DE NEGRO A BLANCO*/
    z-index: 1;
    font-size: 4rem;
    text-align: end;
}
.toggle-menu label{
    display: inline-block;
    height: 100%;
}
.toggle-menu label i{
    display: inline-block;
    height: 100%;
}
.toggle-menu label i::before{
    vertical-align: 0 !important
}
.main-menu{
    display: none;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    z-index: 1;
    background-color:#0B4D24;
}

.main-menu-item{
    padding: 0.5em;
}
.main-menu-link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#menu-productos{
    display: none;
}

#menu-productos li{
   list-style: none;
}
#segundomenu:hover > #menu-productos{
   display: block;

}
#sesion i{
    font-size: 1.5rem;
    text-align: center;
}
.main-menu--show{
    transform: translateY(0);
}
.toggle-menu__checkbox{
    display: none;
}

header{
    flex-direction: column;
}
.main-menu{
    transform: translateX(-100%);
}
.toggle-menu__checkbox:checked + .main-menu{
    transform: translateX(0);
    width: 100%;
}

/* ----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */


main{
    height: 70vh;
    overflow: auto;
}

h1{
    color: red;
}
.catalogo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.card {
    font-family: Arial, Helvetica, sans-serif;
    width: 15rem;
    margin: 1em;
    text-align: center;
    margin-inline: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  .card img {
    max-width: 100%;
    clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0%);
  }
  .description {
    padding: 0 1em 1em 1em;
  }
  button {
    font-size: 1em;
    padding: 0.5em 1em;
    color: #fff;
    background-color: #836953;
    border: none;
  }



/* ----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */

/*FOOTER*/

footer{
height: 15vh;
background-color: #0B4D24 ;
}

footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: #E4EFE8;
}
/* INFO DEL NEGOCIO */
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .contenedor-footer  .contenedor-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

footer .contenedor-logo img{
    width: 2.5rem;
    height: 2.5rem;
}
.TextoEmpresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E4EFE8;
}
.TextoEmpresa > span{
    color: #E4EFE8;
    font-size: 0.5rem;

}
.TextoEmpresa > .name{
    font-size: 0.5rem;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.redes ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.redes ul li a{
    font-size: 15px;
}

.redes ul li a:hover{
    color: #BF2F2F;
}

 /* LINEA DIVISORIA */
.linea{
    border-top: 1px solid #E4EFE8;
    max-width: 100%
}

.data{
    color: #E4EFE8;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.data > h3{
    display: none;
    /* text-decoration: underline; */
}
.data > ul {
    display: flex;
    flex-direction: row;
}
.data > ul li {
    width: 25%;
    height: 15px;
    display: grid;
}
.data > ul li a{
   font-size: 0.4rem;
}
.data > ul li a:hover{
    color: #FACE54;
}
/* COPYRIGHT */
.copy p{
color: #E4EFE8;
text-align: center;
font-size: 0.4rem;
}

/* MODAL */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 250px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
.modalDialog > div h3, .modalDialog > div P{
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.mediospago{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.mediospago li{
    max-width: 70px;
    max-height: 70px;
    display: flex;
    justify-content: baseline;
}









  /* ----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */


/*MEDIA QUERIES*/

/* TABLET */
@media (min-width: 768px) {

    /* header */
    .toggle-menu label {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .toggle-menu label i {
        display: inline-block;
        height: 50%;
    }

    /* footer */
    
    .contenedor-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60%;
    }
    .info, .data{
        width: 50%;
    }
    footer .contenedor-logo > img{
        height: 3rem;
        width: 3rem;
    }

    .TextoEmpresa{
       text-align: left;
       width: 50%;
    }
    .TextoEmpresa span, .TextoEmpresa .name{
        font-size: 0.6rem;
        text-align: center
    }
    .redes ul{
        gap: 2.5rem
    }
    .redes ul li a{
        font-size: 20px;
    }
    .data{
        padding: 0.5rem 0;
    }
    .data > ul li a{
        font-size: 0.8rem;
     }
     .copy p{
        padding-top: 0.5rem;
        font-size: 0.8rem;
        }

    .modalDialog > div {
        width: 500px;
    }
}

/* ESCRITORIO */
@media (min-width: 1200px) {
    /* header */
   
    header{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        
    }
    .contenedor-logo{
        width: 20%;
    }
    .main-nav{
        width:80%
    }
    .toggle-menu{
        display: none;
    }
    .main-menu{
        flex-direction: row;
        width: 75%;
        justify-content: flex-end;
        gap: 5rem;
        align-items: baseline;
        margin-top: 2rem;
        transform: translateX(0);
        background-color: transparent;

    }
    #menu-productos{
        background-color: #0B4D24;
        width: 200px;
    }

    /* footer */
    .contenedor-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 70%;
    }
    footer .contenedor-logo > img{
        height: 4rem;
        width: 4rem;
    }
    .TextoEmpresa span, .TextoEmpresa .name{
        font-size: 1rem;
    }
    .redes ul li a{
        font-size: 30px;
    }
    .data > h3{
        display: block;
        text-decoration: underline;
    }
    .data{
        padding: 0.5rem 0;
    }
    .data > ul li a{
        font-size: 1rem;
     }
}