<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
</head>
<body>
    <header>
        <%-include('./partials/header') %>
    </header>
    <main>
        <h1>Quienes Somos</h1>

        <div class="contenidoAbout">
            <div class="grupo1">
                <div >
                    <img class="img_About" src="https://classic.exame.com/wp-content/uploads/2022/01/MCP-4.jpg?quality=70&strip=info&w=1024" alt="" >
                </div>
                <div class="textAbout" >
                    <p>Somos una empresa con mas de 10 años de trayectoria, ubicados en la ciudad de Córdoba, Argentina y vendemos a todo el pais.</p>
                </div>
            </div>
            <div class="grupo2">
                <div class="textAbout" >
                    <p>Tenemos un amplio stock para pequeños animales y estamos incorporando nuevos productos para mascotas de compañía no convencionales.</p>
                </div>
                <div >
                    <img class="img_About" src="https://www.vetclinica.com.ar/wp-content/uploads/IMG_3247.jpg" alt="">
                </div>
            </div>
            <div class="grupo3">
                <div >
                    <img class="img_About" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK2MheURcp5kvfzK6IWRbVEfDSiMpWIxrBnA&usqp=CAU" alt="">
                </div>
                <div class="textAbout" >
                   
                        <ul>
                            <li> <b>Misión:</b>
                                
                                En nuestro petshop nos dedicamos a brindar productos y servicios de calidad para el cuidado y bienestar de tus mascotas, con un enfoque en la satisfacción del cliente y el respeto hacia los animales.</li>
                            <li><b>Visión:</b>
                                Nos esforzamos por convertirnos en el petshop líder en nuestra comunidad, siendo reconocidos por nuestra excelencia en productos y servicios, y por nuestra ética y compromiso en el cuidado de los animales.</li>
                            <li><b>Valores:</b>
                                <ol>
                                    <li> Respeto hacia los animales</li>
                                    <li>Compromiso con la comunidad</li>
                                    <li>Honestidad y transparencia</li>
                                </ol>    
                            </li>
                        </ul>
                </div>
            </div>
            
        </div>
    </main>
    <footer>
        <%-include('./partials/footer') %>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
