<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
</head>
<body>
    <header>
        <%-include('./partials/header') %>
    </header>
    <main>
        <h1>CONTACTO</h1>
        <div class="contenedor-main">

            <div class="contenedorMaincontacto">
                <form class="formcontacto" action="">
                    <!-- TITULO DEL FORM -->
                    <h2>Completa el Formulario</h2>
        
                    <div class="datoscontacto">
                        <div class="elemento">
                            <label for="name">Nombre Completo</label>
                            <div class="inputs">
                                <i class="bi bi-person"></i>
                                <input type="text" id="name" name="name" maxlength="20" placeholder="Nombre y Apellido" required>
                            </div>
                        </div>
        
                        <div class="elemento">
                            <label for="email">Correo Electrónico</label>
                            <div class="inputs">
                                <i class="bi bi-envelope"></i>
                                <input type="email" id="email" name="email" placeholder="tuemail@dominio.com" required >
                            </div>
                        </div>
        
                        <div class="contenedorPhone">
                            <div class="elementoPhone">
                                <label for="phone">Número de Celular</label>
                                <div class="inputs">
                                    <i class="bi bi-telephone"></i>
                                    <input type="tel" id="phone" name="phone" maxlength="10"  required >
                                </div>
                            </div>
                            <small>Formato válido: 351 - 4545454</small>
                        </div>
                        
                        <div class="elemento">
                            <label for="accion">Motivo</label>
                            <div class="inputs">
                                <select name="accion" id="accion">
                                    <option disabled="true" selected="true" value="">Seleccionar motivo</option>
                                    <option value="A">Consulta</option>
                                    <option value="B">Arrepentimiento de compra</option>
                                </select>
                            </div>
                        </div>
                        <div class="elemento">
                            <label for="mensaje">Mensaje</label>
                            <div class="inputs">
                                <textarea name="mensaje" id="mensaje" rows="5"></textarea>
                            </div>
                        </div>
        
                    </div>
        
                    <!-- BOTONES -->
                    <div class="buttonscontacto">
                        <button class="consultar" type="submit">Enviar Consulta</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <%-include('./partials/footer') %>
    </footer>
</body>
</html>
