<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
</head>
<body class="body_Error">
    <div class="contenido_Error">
        <div class="img_Error">
            <img src="/img/perrito_Hueso.jpg" alt="imagen Error 404">
        </div>
        <div class="texto_Error">
            <h2 class="title_Error">404 ERROR</h2>
            <h6 class="subtitle_Error">Página no encontrada</h6>
            <a href="/" class="btn_Error">Volver al inicio</a>
        </div>
    </div>
</body>
</html>