<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
</head>
<body>
    <header>
        <%-include('./partials/header') %>
    </header>
    <main>
        <h1>HOME</h1>
        <a href="/about">about</a>
        <a href="/cart">cart</a>
        <a href="/contact">contact</a>
        <a href="/detail_Product">detail_Product</a>
        <a href="/login">login</a>
        <a href="/products">CATALOGO</a>
        <a href="/register">register</a>
        

    </main>
    <footer>
        <%-include('./partials/footer') %>
    </footer>
</body>
</html>
