<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
</head>
<body>
    <header>
        <%-include('./partials/header') %>
    </header>
    <main>
        <h1>INICIAR SESION</h1>
        <div class="contenedor-main">
            <div class="contenedorMainlogin">
                <form class="formlogin" action="">
                    <!-- TITULO DEL FORM -->
                    <h2>Ingresá tus datos</h2>
                    <!-- DATOS -->
                    <div class="datoslogin">
                        <div class="elemento">
                            <label for="username">Nombre de Usuario</label>
                            <div class="inputs">
                                <i class="bi bi-person"></i>
                                <input class="inputs_Forms" type="text" id="username" name="username" maxlength="10" required>
                            </div>
                        </div>
        
                        <div class="elemento">
                            <label for="password">Contraseña</label>
                            <div class="inputs">
                                <i class="bi bi-lock"></i>
                                <input class="inputs_Forms" type="password" id="password" name="password" required>
                            </div>
                        </div>
                    </div>
                    <!-- T&C -->
                    <div class="checks">                
                        <div class="elemento">
                            <label for="recordarUs">Recordar Usuario</label>
                            <input
                                class="inputs_Check"
                                type="checkbox"
                                id="recordarUs"
                                name="recordarUs"
                                value="recordarUs" required/>   
                        </div>
                        <div class="elemento">
                            <label for="mantenerlogin">Mantenerse Logueado</label>
                            <input
                                class="inputs_Check"
                                type="checkbox"
                                id="mantenerlogin"
                                name="mantenerlogin"
                                value="mantenerlogin" required/>   
                        </div>
                    </div>
                    <!-- BOTONES -->
                    <div class="buttonslogin">
                        <button class="ingresar" type="submit">Ingresar</button>
                    </div>
                    <p class="textButton">No tengo Usuario, <a href="/register">Registrarme</a> </p>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <%-include('./partials/footer') %>
    </footer>
</body>
</html>
