@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;500;800;900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', 'Overlock';
    width: 100%;
}

:root{
    --primary: #0B4D24;
    --secondary: #628C72;
}

body{
    display: flex; /*Con esto hago que el footer vaya abajo*/
    flex-direction: column; /*Con esto hago que el footer vaya abajo*/
    min-height: 100vh; /*Con esto hago que el footer vaya abajo*/
    background-color: antiquewhite;

}

/*OTROS COLORES

#BF2F2F > orange golden
#FACE54 > maize
#828C84 > grey
#D3FCD5 > tea green
#FCFCFC > white
#85938A > verde agrisado
#E4EFE8 > mint cream
*/

/* ----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */

/*HEADER*/

header{
    background-color:#0B4D24;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.contenedor-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.contenedor-logo img{
    width: 9.4rem;
    height: 9.4rem;
    object-fit: scale-down;
}
.menuresponsive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.checkbtn{
    color: #E4EFE8;
    font-size: 3rem;
    cursor: pointer;
}


.sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-color: #0B4D24;
}

.sidebar ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}
.sidebar ul li a{
    text-decoration: none;
    color: #E4EFE8;
    text-align: center;
    border-bottom: 2px solid #85938A;
    font-size: 1rem;
}
.sidebar ul li a i{
    font-size: 1.2rem;

}
.sidebar ul li a:hover{
    background-color: #628C72;
}
.menuresponsive .sidebar ul li ul{
    display: none;
}

.menuresponsive .sidebar ul li:hover ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
   
}

.menudesktop{
    display: none;
}

/* funcionalidad menu responsive - NO FUNCIONO*/
/* .sidebar{
    visibility: hidden ;
} */
/* .checkbtn:hover ~ .sidebar{
    visibility: inherit ;
    } */

/* ----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */

/*CONTENIDO*/

.contenedor-main{
    height: calc(100% - 288px -497px);
    background-color: #FACE54;
}

/* IMAGEN BANNER */

.imgBanner{
    width: 100%;
    height: 100%;
    background-color: #5f6861;
}


/* OPCIONES BANNER */
 .opcionesBanner{
    background-color: #5f6861;
    display: flex;
    align-items: center;
}

.opcionesBanner ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem 0;
}
.opcionesBanner ul li{
    justify-content: space-around;
    list-style: none;
}
.opcionesBanner ul li a, span, p{
    text-decoration: none;
    color:#FACE54;
    text-align: center;
    width: 100%;
}

/* CATALOGO */
.catalogo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.producto{
    background-color: #828C84;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2rem;
    height: 27rem;
    width: 18rem;

}

.carruselProducto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    height: 50%;
}

.carruselProducto > i{
    width: 5%;
    font-size: 1rem;
    cursor: pointer;
   
}

.carruselProducto img{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
    object-fit: scale-down;
    border-radius: 2rem;

}

.dataProducto{
    height: 6.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dataProducto p{
    text-align: end;
    color: black;
    font-size: 0.8rem;
    padding-right: 10px;
}

.dataProducto p> span{
    text-align: end;
    color: black;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 20px;

}

.botones button{
    background-color: #D3FCD5;
    border-radius: 5px;
    border-color: #D3FCD5;
    margin-left: 10px;
    cursor: pointer;
    height: 30px;

}

.botones button:hover, .botones button:hover >span{
    color: #BF2F2F;
}

.botones button span{
    color: black;
}




/* ----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */

/*FOOTER*/

footer{
    background-color: #0B4D24 ;
    margin-top: auto; /*Con esto hago que el footer vaya abajo*/
}

footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: #E4EFE8;
}
/* INFO DEL NEGOCIO */
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .contenedor-logo img{
    width: 9.4rem;
    height: 9.4rem;
}
.TextoEmpresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E4EFE8;
}
.TextoEmpresa > span{
    color: #E4EFE8;

}
.TextoEmpresa > .name{
    font-size: 1.5rem;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redes ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.redes ul li{
    padding-top: 20px;
 }
 
 .redes ul li a{
    font-size: 25px;
 }
 
 .redes ul li a:hover{
     color: #BF2F2F;
 }

 /* LINEA DIVISORIA */
.linea{
    border-top: 1px solid #E4EFE8;
    max-width: auto;
}

.data{
    color: #E4EFE8;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
}

.data > h3{
    text-decoration: underline;
}

.data > ul li a:hover{
    color: #FACE54;
}
/* COPYRIGHT */
.copy p{
color: #E4EFE8;
text-align: center;
padding: 1rem;
}
/* ----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */

/*MEDIA QUERIES*/

/* TABLET */
@media (min-width: 768px) {

    /* header */
    .contenedor-logo img{
        width: 7.5rem;
        height: 7.5rem;
    }
    .menuresponsive{
        display: block;
        margin-top: 2rem;
        z-index: 99;
    }
    header{
        max-height: 8rem;
    }

    .sidebar{
        margin-top: 1rem;
    }

    /* contenido */

    .imgBanner{
        width: 100%;
        height: 350px;
    }
    .imgBanner img{
        height: inherit;
        object-fit: cover;
    }
    .opcionesBanner ul{
        flex-direction: row;
    }

    .catalogo{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .producto{
        width: 18rem;
    }
    .carruselProducto{
        height: 40%;
    }

    

    /* footer */
    .info{
        flex-direction: row;
        justify-content: space-between;
    }
    .contenedor-logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        width: 50%;
    }
    footer .contenedor-logo > img{
        height: 8rem;
        width: 8rem;
    }

    .TextoEmpresa{
       text-align: left;
       width: 50%;
    }

    .name{
        font-size: 1.3rem;
    }
    .redes{
        width: 30%;
    }


    .data{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .data ul{
        display: flex;
        flex-direction: row;
    }
}


/* ESCRITORIO */
@media (min-width: 1200px) {
    /* header */
    header{
        justify-content: space-between;
    }
    .contenedor-logo{
        width: 25%;
    }

    .contenedor-logo img{
        width: 7.5rem;
        height: 7.5rem;;
    }

    .menuresponsive{
        display: none;
    }

    .menudesktop{
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .nav ul li{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        gap: 2rem;
        background-color: #0B4D24;

    }


    .nav ul li a{
        text-decoration: none;
        color: #E4EFE8;
        text-align: center;
        font-size: 1.4rem;
        border-bottom: 2px solid #85938A;
    }
    
    .nav ul li a i{
        font-size: 1.5rem;
    
    }
    .nav ul li a:hover{
        background-color: #628C72;
    }
    .menudesktop .nav ul li ul{
        display: none;
        padding-top: 12rem;

    }
    
    .menudesktop .nav ul li:hover ul{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        text-align: center;
        gap: 1rem; 
        z-index: 99;
        background-color: #0B4D24;
    }

    /* contenido */
    .imgBanner img{
        height: 350px;
    }
    .opcionesBanner {
        height: 6rem;
        align-items: center;
    }

    /* footer */
    footer .contenedor-logo{
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    .TextoEmpresa{
        width: 100%;
        align-items: flex-start;
    }
    .TextoEmpresa span{
        width: 100%;
        text-align: start;
     }

    .redes{
        width: 20%;
    }

    .data ul li a{
        font-size: 1.2rem;
    }
}