 <!-- LOGO -->
 <div class="contenedor-logo">
    <img src="/img/filhoteShop.png" alt="logo filhote shop">
</div>

<!-- MENU -->
<nav class="main-nav">
    <div id="toggle-menu" class="toggle-menu">
        <label for="toggle-menu-checkbox">
            <i class="bi bi-list"></i>
        </label>
    </div>
    
    <input type="checkbox" name="" id="toggle-menu-checkbox" class="toggle-menu__checkbox">

    <ul class="main-menu" id="main-menu">
        <li class="main-menu-item">
            <a href="/" class="main-menu-link">INICIO</a>
        </li>
        <li class="main-menu-item">
            <a href="/about" class="main-menu-link">CONOCENOS</a>
        </li>
        <li  class="main-menu-item" id="segundomenu">
            <a href="/products" class="main-menu-link">PRODUCTOS</a>
            <ul class="main-menu-item" id="menu-productos">
                <li class="main-menu-item">
                    <a href="/products" class="main-menu-link"> PERROS</a>
                </li>
                <li class="main-menu-item">
                    <a href="/products" class="main-menu-link"> GATOS</a>
                </li>
                <li class="main-menu-item">
                    <a href="/products" class="main-menu-link"> EXOTICOS</a>
                </li>
            </ul>
        </li>
        <li class="main-menu-item">
            <a href="/contact" class="main-menu-link">CONTACTO</a>
        </li>
        <li class="main-menu-item">
            <a href="/login" class="main-menu-link" id="sesion" ><i class="bi bi-person"></i></a>
        </li>
    </ul>
</nav>